cffi==1.11.5
cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
imageio==2.3.0
kiwisolver==1.0.1
matplotlib==3.3.4
networkx==2.1
numpy==1.20.0
pandas==1.2
Pillow==6.2.0
pycparser==2.18
pygit==0.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.1.1
PyYAML==5.4
scikit-image==0.18.0
scikit-learn==0.24.0
scipy==1.6.2
six==1.11.0
toolz==0.9.0
torch==1.8.1
torchvision==0.2.1
tqdm==4.24.0